# Introduction to Pandas üêº
## Data Analysis Made Easy

> **üí° Tip:** Run each code cell as we go through the lesson. Press `Shift + Enter` to execute a cell!

## 1. What is Pandas? ü§î

**Pandas** (Python Data Analysis Library) is like a Swiss Army knife for data analysis. Think of it as Excel on steroids!

### Why Pandas?
- üìä **Easy data manipulation**: Clean, transform, and analyze data effortlessly
- üìà **Handles multiple data types**: Numbers, text, dates, and more
- üîó **Integrates beautifully**: Works seamlessly with other Python libraries
- üöÄ **Performance**: Built on NumPy for speed

### Real-world Applications:
- üè• **Healthcare**: Analyzing patient data and treatment outcomes
- üí∞ **Finance**: Stock market analysis and risk assessment
- üõí **E-commerce**: Customer behavior and sales trends
- üå± **Research**: Scientific data analysis and visualization

---
**Think of pandas as your data assistant that never gets tired of organizing spreadsheets!**

## 2. Setting Up & First Steps üöÄ

Let's start our pandas journey! First, we need to import the library.

In [1]:
# Import pandas (the standard convention is to use 'pd' as an alias)
import pandas as pd
import numpy as np  # We'll use this for some examples

# Let's check which version of pandas we're using
print(f"Pandas version: {pd.__version__}")
print("üéâ Pandas is ready to use!")

Pandas version: 2.3.3
üéâ Pandas is ready to use!

## 3. Series: The Building Block üß±

A **Series** is like a single column in a spreadsheet. It's a one-dimensional array that can hold any data type.

### Think of it as:
- A list with superpowers
- A single column from Excel
- A 1D array with labels (index)

<img src="image8.png" width="700"/>

###### image source: https://www.geeksforgeeks.org/pandas/python-pandas-series/

In [2]:
# Creating our first Series - Student scores
scores = pd.Series([85, 92, 78, 96, 88])
print("Student Scores:")
print(scores)
print(f"\nType: {type(scores)}")

Student Scores:
0    85
1    92
2    78
3    96
4    88
dtype: int64

Type: <class 'pandas.core.series.Series'>

In [3]:
# Creating a Series with custom labels (index)
student_names = ['Alice', 'Bob', 'Charlie', 'Diana', 'Eve']
named_scores = pd.Series([85, 92, 78, 96, 88], index=student_names)

print("Scores with Student Names:")
print(named_scores)
print(f"\nAlice's score: {named_scores['Alice']}")
print(f"Highest score: {named_scores.max()}")
print(f"Average score: {named_scores.mean():.1f}")

Scores with Student Names:
Alice      85
Bob        92
Charlie    78
Diana      96
Eve        88
dtype: int64

Alice's score: 85
Highest score: 96
Average score: 87.8

### üîç Quick Exercise: Try it yourself!
Create a Series with the temperatures for a week. Use the days of the week as labels.

In [4]:
# Your turn! Create a temperature series for the week
days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
temperatures = [72, 75, 78, 74, 71, 69, 73]  # Temperatures in Fahrenheit

weekly_temps = pd.Series(temperatures, index=days)
print("Weekly Temperatures:")
print(weekly_temps)
print(f"\nWarmest day: {weekly_temps.idxmax()} ({weekly_temps.max()}¬∞F)")
print(f"Coolest day: {weekly_temps.idxmin()} ({weekly_temps.min()}¬∞F)")

Weekly Temperatures:
Monday       72
Tuesday      75
Wednesday    78
Thursday     74
Friday       71
Saturday     69
Sunday       73
dtype: int64

Warmest day: Wednesday (78¬∞F)
Coolest day: Saturday (69¬∞F)

## 4. DataFrames: Your New Best Friend üìä

A **DataFrame** is like a complete spreadsheet - it has multiple columns and rows. Think of it as multiple Series combined together!

### Analogy:
- üìã **Series** = Single column in Excel
- üìä **DataFrame** = Complete Excel worksheet with multiple columns

### Key Features:
- 2-dimensional (rows and columns)
- Each column can have different data types
- Built-in indexing and labeling
- Perfect for real-world datasets

<img src="image9.png" width="900"/>

In [5]:
# Creating our first DataFrame - Student information
student_data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Eve'],
    'Age': [20, 21, 19, 22, 20],
    'Grade': ['A', 'B+', 'B', 'A+', 'A-'],
    'Score': [85, 92, 78, 96, 88]
}

df = pd.DataFrame(student_data)
print("Student DataFrame:")
print(df)

Student DataFrame:
      Name  Age Grade  Score
0    Alice   20     A     85
1      Bob   21    B+     92
2  Charlie   19     B     78
3    Diana   22    A+     96
4      Eve   20    A-     88

In [6]:
# Let's explore our DataFrame
print("DataFrame Shape (rows, columns):", df.shape)
print("\nColumn Names:", df.columns.tolist())
print("\nData Types:")
print(df.dtypes)
print("\nFirst 3 rows:")
print(df.head(3))

DataFrame Shape (rows, columns): (5, 4)

Column Names: ['Name', 'Age', 'Grade', 'Score']

Data Types:
Name     object
Age       int64
Grade    object
Score     int64
dtype: object

First 3 rows:
      Name  Age Grade  Score
0    Alice   20     A     85
1      Bob   21    B+     92
2  Charlie   19     B     78

### Selecting Data from DataFrames

Just like in Excel, we often want to look at specific columns or rows. Pandas makes this super easy!

In [7]:
# Selecting a single column (returns a Series)
print("Just the names:")
print(df['Name'])
print(f"\nType: {type(df['Name'])}")

print("\n" + "="*30)

# Selecting multiple columns (returns a DataFrame)
print("Names and Scores:")
print(df[['Name', 'Score']])
print(f"\nType: {type(df[['Name', 'Score']])}")

Just the names:
0      Alice
1        Bob
2    Charlie
3      Diana
4        Eve
Name: Name, dtype: object

Type: <class 'pandas.core.series.Series'>

==============================
Names and Scores:
      Name  Score
0    Alice     85
1      Bob     92
2  Charlie     78
3    Diana     96
4      Eve     88

Type: <class 'pandas.core.frame.DataFrame'>

In [8]:
# Filtering data (like using filters in Excel)
print("Students with score >= 90:")
high_scorers = df[df['Score'] >= 90]
print(high_scorers)

print("\nStudents aged 20:")
age_20 = df[df['Age'] == 20]
print(age_20[['Name', 'Age', 'Score']])

Students with score >= 90:
    Name  Age Grade  Score
1    Bob   21    B+     92
3  Diana   22    A+     96

Students aged 20:
    Name  Age  Score
0  Alice   20     85
4    Eve   20     88

### Adding New Columns

Just like adding a new column in Excel, we can easily add new data to our DataFrame!

In [9]:
# Adding a new column
df['Pass'] = df['Score'] >= 80  # Boolean column: True if score >= 80
df['Score_Category'] = df['Score'].apply(lambda x: 'Excellent' if x >= 90 
                                        else 'Good' if x >= 80 
                                        else 'Needs Improvement')

print("Updated DataFrame:")
print(df)

Updated DataFrame:
      Name  Age Grade  Score   Pass     Score_Category
0    Alice   20     A     85   True               Good
1      Bob   21    B+     92   True          Excellent
2  Charlie   19     B     78  False  Needs Improvement
3    Diana   22    A+     96   True          Excellent
4      Eve   20    A-     88   True               Good

## 5. Data Exploration & Basic Operations üîç

Now let's learn some essential operations that you'll use all the time in data analysis!

In [10]:
# Basic statistics - like having a built-in calculator!
print("üìä BASIC STATISTICS")
print("="*30)
print(f"Average score: {df['Score'].mean():.1f}")
print(f"Median score: {df['Score'].median()}")
print(f"Highest score: {df['Score'].max()}")
print(f"Lowest score: {df['Score'].min()}")
print(f"Score range: {df['Score'].max() - df['Score'].min()}")

print("\nüìà SUMMARY STATISTICS")
print("="*30)
print(df['Score'].describe())

üìä BASIC STATISTICS
==============================
Average score: 87.8
Median score: 88.0
Highest score: 96
Lowest score: 78
Score range: 18

üìà SUMMARY STATISTICS
==============================
count     5.000000
mean     87.800000
std       6.870226
min      78.000000
25%      85.000000
50%      88.000000
75%      92.000000
max      96.000000
Name: Score, dtype: float64

In [11]:
# Sorting data (like sorting in Excel)
print("üìã STUDENTS SORTED BY SCORE (Highest first):")
print(df.sort_values('Score', ascending=False)[['Name', 'Score', 'Grade']])

print("\nüìã STUDENTS SORTED BY NAME (Alphabetical):")
print(df.sort_values('Name')[['Name', 'Age', 'Score']])

üìã STUDENTS SORTED BY SCORE (Highest first):
      Name  Score Grade
3    Diana     96    A+
1      Bob     92    B+
4      Eve     88    A-
0    Alice     85     A
2  Charlie     78     B

üìã STUDENTS SORTED BY NAME (Alphabetical):
      Name  Age  Score
0    Alice   20     85
1      Bob   21     92
2  Charlie   19     78
3    Diana   22     96
4      Eve   20     88

In [12]:
# Grouping data (like pivot tables in Excel)
print("üìä PERFORMANCE BY AGE:")
age_groups = df.groupby('Age')['Score'].agg(['mean', 'count'])
print(age_groups)

print("\nüìä GRADE DISTRIBUTION:")
grade_counts = df['Grade'].value_counts()
print(grade_counts)

üìä PERFORMANCE BY AGE:
     mean  count
Age
19   78.0      1
20   86.5      2
21   92.0      1
22   96.0      1

üìä GRADE DISTRIBUTION:
Grade
A     1
B+    1
B     1
A+    1
A-    1
Name: count, dtype: int64

### Working with Real Data: Reading Files

In the real world, data often comes from files. Let's create and read a CSV file!

In [13]:
# Save our DataFrame to a CSV file
df.to_csv('students.csv', index=False)
print("‚úÖ Saved students.csv")

# Read it back
df_from_file = pd.read_csv('students.csv')
print("\nüìÇ Data read from CSV file:")
print(df_from_file)

# Check if they're the same
print(f"\nAre they identical? {df.equals(df_from_file)}")

‚úÖ Saved students.csv

üìÇ Data read from CSV file:
      Name  Age Grade  Score   Pass     Score_Category
0    Alice   20     A     85   True               Good
1      Bob   21    B+     92   True          Excellent
2  Charlie   19     B     78  False  Needs Improvement
3    Diana   22    A+     96   True          Excellent
4      Eve   20    A-     88   True               Good

Are they identical? True

## 6. Hands-on Practice Challenge! üéØ

**Scenario:** You're analyzing data for a small coffee shop. Let's create and analyze some sales data!

In [14]:
# Create coffee shop sales data
coffee_data = {
    'Day': ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'],
    'Espresso': [25, 30, 28, 35, 45, 60, 40],
    'Latte': [40, 45, 42, 50, 65, 80, 55],
    'Cappuccino': [20, 25, 23, 30, 35, 45, 32],
    'Temperature': [68, 72, 70, 75, 73, 78, 76]  # Weather temperature
}

coffee_df = pd.DataFrame(coffee_data)
print("‚òï COFFEE SHOP SALES DATA")
print("="*40)
print(coffee_df)

‚òï COFFEE SHOP SALES DATA
========================================
         Day  Espresso  Latte  Cappuccino  Temperature
0     Monday        25     40          20           68
1    Tuesday        30     45          25           72
2  Wednesday        28     42          23           70
3   Thursday        35     50          30           75
4     Friday        45     65          35           73
5   Saturday        60     80          45           78
6     Sunday        40     55          32           76

In [15]:
# Let's analyze the coffee shop data!

# 1. Calculate total daily sales
coffee_df['Total_Sales'] = coffee_df['Espresso'] + coffee_df['Latte'] + coffee_df['Cappuccino']

# 2. Find the best and worst sales days
best_day = coffee_df.loc[coffee_df['Total_Sales'].idxmax(), 'Day']
worst_day = coffee_df.loc[coffee_df['Total_Sales'].idxmin(), 'Day']

print(f"üèÜ Best sales day: {best_day} ({coffee_df['Total_Sales'].max()} drinks)")
print(f"üìâ Worst sales day: {worst_day} ({coffee_df['Total_Sales'].min()} drinks)")

# 3. Most popular drink overall
drink_totals = {
    'Espresso': coffee_df['Espresso'].sum(),
    'Latte': coffee_df['Latte'].sum(),
    'Cappuccino': coffee_df['Cappuccino'].sum()
}

most_popular = max(drink_totals, key=drink_totals.get)
print(f"‚òï Most popular drink: {most_popular} ({drink_totals[most_popular]} total sales)")

# 4. Average sales per day
print(f"üìä Average daily sales: {coffee_df['Total_Sales'].mean():.1f} drinks")

print("\n" + "="*50)
print("UPDATED DATAFRAME WITH TOTAL SALES:")
print(coffee_df)

üèÜ Best sales day: Saturday (185 drinks)
üìâ Worst sales day: Monday (85 drinks)
‚òï Most popular drink: Latte (377 total sales)
üìä Average daily sales: 121.4 drinks

==================================================
UPDATED DATAFRAME WITH TOTAL SALES:
         Day  Espresso  Latte  Cappuccino  Temperature  Total_Sales
0     Monday        25     40          20           68           85
1    Tuesday        30     45          25           72          100
2  Wednesday        28     42          23           70           93
3   Thursday        35     50          30           75          115
4     Friday        45     65          35           73          145
5   Saturday        60     80          45           78          185
6     Sunday        40     55          32           76          127

### üéØ Your Turn: Practice Challenge!

**Task:** Answer these questions using pandas operations:

1. Which days had sales above the average?
2. Is there a relationship between temperature and total sales?
3. What percentage of total sales does each drink type represent?

Try to solve these in the cell below!

In [16]:
# YOUR SOLUTION HERE - Try to solve the challenges!

# 1. Days with above-average sales
avg_sales = coffee_df['Total_Sales'].mean()
above_avg_days = coffee_df[coffee_df['Total_Sales'] > avg_sales]['Day'].tolist()
print(f"1Ô∏è‚É£ Days with above-average sales ({avg_sales:.1f}): {above_avg_days}")

# 2. Temperature vs Sales relationship (basic correlation)
correlation = coffee_df['Temperature'].corr(coffee_df['Total_Sales'])
print(f"2Ô∏è‚É£ Temperature-Sales correlation: {correlation:.3f}")
print("   (1.0 = perfect positive, 0 = no relationship, -1.0 = perfect negative)")

# 3. Drink type percentages
total_all_sales = coffee_df[['Espresso', 'Latte', 'Cappuccino']].sum().sum()
espresso_pct = (coffee_df['Espresso'].sum() / total_all_sales) * 100
latte_pct = (coffee_df['Latte'].sum() / total_all_sales) * 100
cappuccino_pct = (coffee_df['Cappuccino'].sum() / total_all_sales) * 100

print(f"3Ô∏è‚É£ Sales by drink type:")
print(f"   ‚òï Espresso: {espresso_pct:.1f}%")
print(f"   ‚òï Latte: {latte_pct:.1f}%")
print(f"   ‚òï Cappuccino: {cappuccino_pct:.1f}%")

1Ô∏è‚É£ Days with above-average sales (121.4): ['Friday', 'Saturday', 'Sunday']
2Ô∏è‚É£ Temperature-Sales correlation: 0.839
   (1.0 = perfect positive, 0 = no relationship, -1.0 = perfect negative)
3Ô∏è‚É£ Sales by drink type:
   ‚òï Espresso: 30.9%
   ‚òï Latte: 44.4%
   ‚òï Cappuccino: 24.7%

## 7. Merging and Joining DataFrames üîó

In real-world data analysis, information is often spread across multiple tables/files. Pandas provides powerful tools to combine data from different sources!

### Types of Joins:
- **Inner Join**: Only keeps rows that match in both DataFrames
- **Left Join**: Keeps all rows from left DataFrame, matches from right
- **Right Join**: Keeps all rows from right DataFrame, matches from left
- **Outer Join**: Keeps all rows from both DataFrames

Think of it like matching puzzle pieces! üß©

In [17]:
# Example: Coffee shop customer data and order history
# Let's create two separate DataFrames

# Customer information
customers = pd.DataFrame({
    'Customer_ID': [101, 102, 103, 104, 105],
    'Name': ['John', 'Emma', 'Michael', 'Sarah', 'David'],
    'Membership': ['Gold', 'Silver', 'Gold', 'Bronze', 'Silver']
})

# Order history
orders = pd.DataFrame({
    'Order_ID': [1, 2, 3, 4, 5, 6],
    'Customer_ID': [101, 102, 101, 103, 106, 102],  # Note: 106 doesn't exist in customers!
    'Amount': [15.50, 8.75, 12.00, 20.00, 10.50, 6.25],
    'Item': ['Latte', 'Espresso', 'Cappuccino', 'Latte', 'Espresso', 'Cappuccino']
})

print("üë• CUSTOMERS:")
print(customers)
print("\nüßæ ORDERS:")
print(orders)

üë• CUSTOMERS:
   Customer_ID     Name Membership
0          101     John       Gold
1          102     Emma     Silver
2          103  Michael       Gold
3          104    Sarah     Bronze
4          105    David     Silver

üßæ ORDERS:
   Order_ID  Customer_ID  Amount        Item
0         1          101   15.50       Latte
1         2          102    8.75    Espresso
2         3          101   12.00  Cappuccino
3         4          103   20.00       Latte
4         5          106   10.50    Espresso
5         6          102    6.25  Cappuccino

In [18]:
# INNER JOIN - Only matching records
inner_join = pd.merge(customers, orders, on='Customer_ID', how='inner')
print("üîó INNER JOIN (Only customers with orders):")
print(inner_join)
print(f"\n  ‚Üí Result: {len(inner_join)} rows (Customer 106's order excluded - no matching customer)")

# LEFT JOIN - All customers, matching orders
left_join = pd.merge(customers, orders, on='Customer_ID', how='left')
print("\nüîó LEFT JOIN (All customers, even without orders):")
print(left_join)
print(f"\n  ‚Üí Result: {len(left_join)} rows (All 5 customers included)")

# RIGHT JOIN - All orders, matching customers
right_join = pd.merge(customers, orders, on='Customer_ID', how='right')
print("\nüîó RIGHT JOIN (All orders, even without customer info):")
print(right_join)
print(f"\n  ‚Üí Result: {len(right_join)} rows (Customer 106's order included with NaN for name/membership)")

# OUTER JOIN - Everything!
outer_join = pd.merge(customers, orders, on='Customer_ID', how='outer')
print("\nüîó OUTER JOIN (All customers AND all orders):")
print(outer_join)
print(f"\n  ‚Üí Result: {len(outer_join)} rows (Complete data, NaN where no match)")

üîó INNER JOIN (Only customers with orders):
   Customer_ID     Name Membership  Order_ID  Amount        Item
0          101     John       Gold         1   15.50       Latte
1          101     John       Gold         3   12.00  Cappuccino
2          102     Emma     Silver         2    8.75    Espresso
3          102     Emma     Silver         6    6.25  Cappuccino
4          103  Michael       Gold         4   20.00       Latte

  ‚Üí Result: 5 rows (Customer 106's order excluded - no matching customer)

üîó LEFT JOIN (All customers, even without orders):
   Customer_ID     Name Membership  Order_ID  Amount        Item
0          101     John       Gold       1.0   15.50       Latte
1          101     John       Gold       3.0   12.00  Cappuccino
2          102     Emma     Silver       2.0    8.75    Espresso
3          102     Emma     Silver       6.0    6.25  Cappuccino
4          103  Michael       Gold       4.0   20.00       Latte
5          104    Sarah     Bronze       NaN     NaN         NaN
6          105    David     Silver       NaN     NaN         NaN

  ‚Üí Result: 7 rows (All 5 customers included)

üîó RIGHT JOIN (All orders, even without customer info):
   Customer_ID     Name Membership  Order_ID  Amount        Item
0          101     John       Gold         1   15.50       Latte
1          102     Emma     Silver         2    8.75    Espresso
2          101     John       Gold         3   12.00  Cappuccino
3          103  Michael       Gold         4   20.00       Latte
4          106      NaN        NaN         5   10.50    Espresso
5          102     Emma     Silver         6    6.25  Cappuccino

  ‚Üí Result: 6 rows (Customer 106's order included with NaN for name/membership)

üîó OUTER JOIN (All customers AND all orders):
   Customer_ID     Name Membership  Order_ID  Amount        Item
0          101     John       Gold       1.0   15.50       Latte
1          101     John       Gold       3.0   12.00  Cappuccino
2          102     Emma     Silver       2.0    8.75    Espresso
3          102     Emma     Silver       6.0    6.25  Cappuccino
4          103  Michael       Gold       4.0   20.00       Latte
5          104    Sarah     Bronze       NaN     NaN         NaN
6          105    David     Silver       NaN     NaN         NaN
7          106      NaN        NaN       5.0   10.50    Espresso

  ‚Üí Result: 8 rows (Complete data, NaN where no match)

In [19]:
# Concatenating DataFrames (stacking data)
# Useful when you have data from different time periods or sources

# Week 1 sales
week1 = pd.DataFrame({
    'Day': ['Mon', 'Tue', 'Wed'],
    'Sales': [150, 175, 165]
})

# Week 2 sales
week2 = pd.DataFrame({
    'Day': ['Thu', 'Fri', 'Sat'],
    'Sales': [200, 225, 250]
})

# Stack them vertically
combined = pd.concat([week1, week2], ignore_index=True)
print("üìÖ COMBINED SALES DATA:")
print(combined)
print(f"\n  ‚Üí Total sales: ${combined['Sales'].sum()}")

# Aggregate customer spending
customer_summary = inner_join.groupby('Name').agg({
    'Amount': ['sum', 'mean', 'count']
}).round(2)
customer_summary.columns = ['Total_Spent', 'Avg_Order', 'Order_Count']
print("\nüí∞ CUSTOMER SPENDING SUMMARY:")
print(customer_summary)

üìÖ COMBINED SALES DATA:
   Day  Sales
0  Mon    150
1  Tue    175
2  Wed    165
3  Thu    200
4  Fri    225
5  Sat    250

  ‚Üí Total sales: $1165

üí∞ CUSTOMER SPENDING SUMMARY:
         Total_Spent  Avg_Order  Order_Count
Name
Emma            15.0       7.50            2
John            27.5      13.75            2
Michael         20.0      20.00            1

## 8. Advanced Filtering and Querying üîç

Beyond basic filtering, pandas offers powerful ways to query your data. Let's explore some advanced techniques!

### Advanced Techniques:
- **Multiple conditions**: Combine filters with `&` (and) and `|` (or)
- **String operations**: Search and filter text data
- **Query method**: SQL-like syntax for filtering
- **isin()**: Check if values exist in a list

In [20]:
# Create a more complex dataset for advanced filtering
research_data = pd.DataFrame({
    'Patient_ID': range(1, 11),
    'Name': ['Alice Johnson', 'Bob Smith', 'Charlie Brown', 'Diana Wilson', 'Eve Davis',
             'Frank Miller', 'Grace Lee', 'Henry Taylor', 'Iris Anderson', 'Jack Thomas'],
    'Age': [25, 45, 32, 58, 41, 35, 29, 52, 38, 44],
    'Blood_Pressure': [120, 145, 118, 165, 138, 122, 115, 158, 132, 142],
    'Cholesterol': [180, 240, 175, 280, 225, 185, 170, 265, 210, 235],
    'Treatment_Group': ['A', 'B', 'A', 'B', 'A', 'B', 'A', 'B', 'A', 'B']
})

print("üè• PATIENT RESEARCH DATA:")
print(research_data)

üè• PATIENT RESEARCH DATA:
   Patient_ID           Name  Age  Blood_Pressure  Cholesterol Treatment_Group
0           1  Alice Johnson   25             120          180               A
1           2      Bob Smith   45             145          240               B
2           3  Charlie Brown   32             118          175               A
3           4   Diana Wilson   58             165          280               B
4           5      Eve Davis   41             138          225               A
5           6   Frank Miller   35             122          185               B
6           7      Grace Lee   29             115          170               A
7           8   Henry Taylor   52             158          265               B
8           9  Iris Anderson   38             132          210               A
9          10    Jack Thomas   44             142          235               B

In [21]:
# 1. MULTIPLE CONDITIONS with & (and) and | (or)
# Important: Use parentheses around each condition!

# Patients with high BP AND high cholesterol
high_risk = research_data[(research_data['Blood_Pressure'] > 140) & 
                          (research_data['Cholesterol'] > 220)]
print("üö® HIGH RISK PATIENTS (BP > 140 AND Cholesterol > 220):")
print(high_risk[['Name', 'Age', 'Blood_Pressure', 'Cholesterol']])

# Patients who are either young OR have low BP
low_risk = research_data[(research_data['Age'] < 30) | 
                         (research_data['Blood_Pressure'] < 120)]
print("\n‚úÖ LOW RISK PATIENTS (Age < 30 OR BP < 120):")
print(low_risk[['Name', 'Age', 'Blood_Pressure']])

# Complex condition: Middle-aged with moderate to high BP
middle_aged_concern = research_data[
    (research_data['Age'] >= 35) & 
    (research_data['Age'] <= 50) & 
    (research_data['Blood_Pressure'] >= 130)
]
print("\n‚ö†Ô∏è MIDDLE-AGED PATIENTS WITH ELEVATED BP:")
print(middle_aged_concern[['Name', 'Age', 'Blood_Pressure', 'Treatment_Group']])

üö® HIGH RISK PATIENTS (BP > 140 AND Cholesterol > 220):
           Name  Age  Blood_Pressure  Cholesterol
1     Bob Smith   45             145          240
3  Diana Wilson   58             165          280
7  Henry Taylor   52             158          265
9   Jack Thomas   44             142          235

‚úÖ LOW RISK PATIENTS (Age < 30 OR BP < 120):
            Name  Age  Blood_Pressure
0  Alice Johnson   25             120
2  Charlie Brown   32             118
6      Grace Lee   29             115

‚ö†Ô∏è MIDDLE-AGED PATIENTS WITH ELEVATED BP:
            Name  Age  Blood_Pressure Treatment_Group
1      Bob Smith   45             145               B
4      Eve Davis   41             138               A
8  Iris Anderson   38             132               A
9    Jack Thomas   44             142               B

In [22]:
# 2. STRING OPERATIONS - Working with text data
# .str accessor gives you powerful string methods!

# Find patients whose name contains "son"
contains_son = research_data[research_data['Name'].str.contains('son', case=False)]
print("üë• PATIENTS WITH 'SON' IN NAME:")
print(contains_son[['Name', 'Age']])

# Names starting with specific letters
starts_with_j = research_data[research_data['Name'].str.startswith('J')]
print("\nüë• PATIENTS WITH NAMES STARTING WITH 'J':")
print(starts_with_j[['Name', 'Treatment_Group']])

# Extract last names (split by space, take last part)
research_data['Last_Name'] = research_data['Name'].str.split().str[-1]
print("\nüìã DATA WITH EXTRACTED LAST NAMES:")
print(research_data[['Name', 'Last_Name', 'Age']].head())

# Filter by last name
smiths = research_data[research_data['Last_Name'] == 'Smith']
print(f"\n  ‚Üí Found {len(smiths)} patient(s) with last name 'Smith'")

üë• PATIENTS WITH 'SON' IN NAME:
            Name  Age
0  Alice Johnson   25
3   Diana Wilson   58
8  Iris Anderson   38

üë• PATIENTS WITH NAMES STARTING WITH 'J':
          Name Treatment_Group
9  Jack Thomas               B

üìã DATA WITH EXTRACTED LAST NAMES:
            Name Last_Name  Age
0  Alice Johnson   Johnson   25
1      Bob Smith     Smith   45
2  Charlie Brown     Brown   32
3   Diana Wilson    Wilson   58
4      Eve Davis     Davis   41

  ‚Üí Found 1 patient(s) with last name 'Smith'

In [23]:
# 3. QUERY METHOD - SQL-like syntax (cleaner for complex filters!)

# Instead of: df[(df['Age'] > 40) & (df['Blood_Pressure'] > 140)]
# We can write:
query_result = research_data.query('Age > 40 and Blood_Pressure > 140')
print("üîç QUERY: Patients over 40 with BP > 140")
print(query_result[['Name', 'Age', 'Blood_Pressure']])

# Query with string matching
query_result2 = research_data.query('Treatment_Group == "A" and Cholesterol < 200')
print("\nüîç QUERY: Treatment Group A with healthy cholesterol (<200)")
print(query_result2[['Name', 'Treatment_Group', 'Cholesterol']])

# Query with variables (use @ to reference external variables)
age_threshold = 35
bp_threshold = 130
query_result3 = research_data.query('Age >= @age_threshold and Blood_Pressure >= @bp_threshold')
print(f"\nüîç QUERY: Age >= {age_threshold} and BP >= {bp_threshold}")
print(query_result3[['Name', 'Age', 'Blood_Pressure']])

üîç QUERY: Patients over 40 with BP > 140
           Name  Age  Blood_Pressure
1     Bob Smith   45             145
3  Diana Wilson   58             165
7  Henry Taylor   52             158
9   Jack Thomas   44             142

üîç QUERY: Treatment Group A with healthy cholesterol (<200)
            Name Treatment_Group  Cholesterol
0  Alice Johnson               A          180
2  Charlie Brown               A          175
6      Grace Lee               A          170

üîç QUERY: Age >= 35 and BP >= 130
            Name  Age  Blood_Pressure
1      Bob Smith   45             145
3   Diana Wilson   58             165
4      Eve Davis   41             138
7   Henry Taylor   52             158
8  Iris Anderson   38             132
9    Jack Thomas   44             142

In [24]:
# 4. isin() METHOD - Check if values are in a list

# Find patients in specific treatment groups or with specific IDs
selected_patients = research_data[research_data['Patient_ID'].isin([1, 3, 5, 7, 9])]
print("üìã ODD-NUMBERED PATIENT IDs:")
print(selected_patients[['Patient_ID', 'Name', 'Treatment_Group']])

# Multiple column filtering with isin
high_risk_ages = [45, 52, 58]  # Ages we're monitoring closely
treatment_of_interest = ['B']
filtered = research_data[
    research_data['Age'].isin(high_risk_ages) & 
    research_data['Treatment_Group'].isin(treatment_of_interest)
]
print("\nüéØ HIGH-RISK AGES IN TREATMENT B:")
print(filtered[['Name', 'Age', 'Treatment_Group', 'Blood_Pressure']])

# Exclude certain values using ~ (NOT operator)
not_in_group_a = research_data[~research_data['Treatment_Group'].isin(['A'])]
print("\nüîÑ PATIENTS NOT IN TREATMENT GROUP A:")
print(not_in_group_a[['Name', 'Treatment_Group']].head())

üìã ODD-NUMBERED PATIENT IDs:
   Patient_ID           Name Treatment_Group
0           1  Alice Johnson               A
2           3  Charlie Brown               A
4           5      Eve Davis               A
6           7      Grace Lee               A
8           9  Iris Anderson               A

üéØ HIGH-RISK AGES IN TREATMENT B:
           Name  Age Treatment_Group  Blood_Pressure
1     Bob Smith   45               B             145
3  Diana Wilson   58               B             165
7  Henry Taylor   52               B             158

üîÑ PATIENTS NOT IN TREATMENT GROUP A:
           Name Treatment_Group
1     Bob Smith               B
3  Diana Wilson               B
5  Frank Miller               B
7  Henry Taylor               B
9   Jack Thomas               B

In [25]:
# 5. BETWEEN and QUANTILE-BASED FILTERING

# Find patients in a specific range
moderate_bp = research_data[research_data['Blood_Pressure'].between(130, 150)]
print("üéØ MODERATE BP PATIENTS (130-150):")
print(moderate_bp[['Name', 'Blood_Pressure', 'Age']])

# Using quantiles to find outliers
# Get patients in top 25% for cholesterol
top_25_cholesterol = research_data['Cholesterol'].quantile(0.75)
high_cholesterol = research_data[research_data['Cholesterol'] >= top_25_cholesterol]
print(f"\nüìä TOP 25% CHOLESTEROL (>= {top_25_cholesterol}):")
print(high_cholesterol[['Name', 'Cholesterol', 'Age']])

# Find patients in the middle 50% (between 25th and 75th percentile)
q25 = research_data['Age'].quantile(0.25)
q75 = research_data['Age'].quantile(0.75)
middle_age = research_data[research_data['Age'].between(q25, q75)]
print(f"\nüìà MIDDLE 50% AGE RANGE ({q25:.0f}-{q75:.0f} years):")
print(middle_age[['Name', 'Age']])

üéØ MODERATE BP PATIENTS (130-150):
            Name  Blood_Pressure  Age
1      Bob Smith             145   45
4      Eve Davis             138   41
8  Iris Anderson             132   38
9    Jack Thomas             142   44

üìä TOP 25% CHOLESTEROL (>= 238.75):
           Name  Cholesterol  Age
1     Bob Smith          240   45
3  Diana Wilson          280   58
7  Henry Taylor          265   52

üìà MIDDLE 50% AGE RANGE (33-45 years):
            Name  Age
4      Eve Davis   41
5   Frank Miller   35
8  Iris Anderson   38
9    Jack Thomas   44

### üéØ Practice Challenge: Advanced Filtering

**Task:** Using the research_data DataFrame, find:

1. Patients in Treatment Group B who are over 40 AND have either high BP (>145) OR high cholesterol (>230)
2. Patients whose names contain "a" or "e" (case-insensitive) and are in the bottom 50% for cholesterol
3. Count how many patients in each treatment group have both BP > 135 and Age > 40

Try solving these using the advanced techniques we just learned!

In [26]:
# YOUR SOLUTION HERE

# Challenge 1: Treatment B, over 40, with high BP OR high cholesterol
challenge1 = research_data[
    (research_data['Treatment_Group'] == 'B') &
    (research_data['Age'] > 40) &
    ((research_data['Blood_Pressure'] > 145) | (research_data['Cholesterol'] > 230))
]
print("1Ô∏è‚É£ Treatment B patients over 40 with high BP or cholesterol:")
print(challenge1[['Name', 'Age', 'Treatment_Group', 'Blood_Pressure', 'Cholesterol']])

# Challenge 2: Names with 'a' or 'e', bottom 50% cholesterol
median_chol = research_data['Cholesterol'].median()
challenge2 = research_data[
    (research_data['Name'].str.contains('a|e', case=False)) &
    (research_data['Cholesterol'] <= median_chol)
]
print(f"\n2Ô∏è‚É£ Patients with 'a' or 'e' in name, cholesterol <= {median_chol}:")
print(challenge2[['Name', 'Cholesterol']])

# Challenge 3: Count by treatment group with BP>135 and Age>40
challenge3 = research_data[
    (research_data['Blood_Pressure'] > 135) &
    (research_data['Age'] > 40)
].groupby('Treatment_Group').size()
print(f"\n3Ô∏è‚É£ Patients with BP>135 AND Age>40 by treatment group:")
print(challenge3)
print(f"   Total: {challenge3.sum()} patients meet both criteria")

1Ô∏è‚É£ Treatment B patients over 40 with high BP or cholesterol:
           Name  Age Treatment_Group  Blood_Pressure  Cholesterol
1     Bob Smith   45               B             145          240
3  Diana Wilson   58               B             165          280
7  Henry Taylor   52               B             158          265
9   Jack Thomas   44               B             142          235

2Ô∏è‚É£ Patients with 'a' or 'e' in name, cholesterol <= 217.5:
            Name  Cholesterol
0  Alice Johnson          180
2  Charlie Brown          175
5   Frank Miller          185
6      Grace Lee          170
8  Iris Anderson          210

3Ô∏è‚É£ Patients with BP>135 AND Age>40 by treatment group:
Treatment_Group
A    1
B    4
dtype: int64
   Total: 5 patients meet both criteria